.wishlist_products_counter.top_wishlist-heart {
  display: block;
  z-index: 10;
  margin-right: 17px;
}

a.wishlist_products_counter.top_wishlist-heart.wishlist-counter-with-products:before {
  content: "\2661" !important;
  width: 28px;
  height: 28px;
}